@using Materials.ViewModels
@model IEnumerable<MaterialUsageReportViewModel>

@{
    ViewData["Title"] = "Material Usage Report";
}

<h1 class="mb-4">Material Usage Report</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Material Name</th>
            <th>Total Used</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Material.Name</td>
                <td>@item.TotalUsed</td>
            </tr>
        }
    </tbody>
</table>
